<?xml version="1.0"?>
<configuration>
  <properties>
    <smtpHost>localhost</smtpHost>
    <smtpPort></smtpPort>
    <smtpUsername></smtpUsername>
    <smtpPassword></smtpPassword>
    <emailEncoding></emailEncoding>
    <tempDir></tempDir>
  </properties>
  <components>
    <!---Identity -->
    <component
     id="IRBACMembershipProvider"
     service="IdentityManagement.WebProviders.IRBACMembershipProvider, IdentityManagement"
     type="IdentityManagement.WebProviders.RBACMembershipProvider, IdentityManagement">
      <parameters>
        <mSessionFactoryConfigPath>Config\NHibernateConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EIS</mApplicationName>
      </parameters>
    </component>

    <component
      id="FanxiAuthentication"
      service="IdentityManagement.Authorization.FanxiAuthenticationBase, IdentityManagement"
      type="IdentityManagement.Authorization.FanxiAuthentication, IdentityManagement">
      <parameters>
        <mSessionFactoryConfigPath>Config\NHibernateConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EIS</mApplicationName>
      </parameters>
    </component>

    <component
      id="RBACRoleProvider"
      service="IdentityManagement.WebProviders.IRBACRoleProvider, IdentityManagement"
      type="IdentityManagement.WebProviders.RBACRoleProvider, IdentityManagement">
      <parameters>
        <mSessionFactoryConfigPath>Config\NHibernateConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EIS</mApplicationName>
      </parameters>
    </component>

    <component
      id="IroleService"
      service="IdentityManagement.Service.IroleService, IdentityManagement"
      type="IdentityManagement.ImplementService.roleService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="IApplicationsService"
      service="IdentityManagement.Service.IApplicationsService, IdentityManagement"
      type="IdentityManagement.ImplementService.ApplicationsService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
      id="IuserService"
      service="IdentityManagement.Service.IuserService, IdentityManagement"
      type="IdentityManagement.ImplementService.userService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
      id="IoperationService"
      service="IdentityManagement.Service.IoperationService, IdentityManagement"
      type="IdentityManagement.ImplementService.operationService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="IpermissionService"
      service="IdentityManagement.Service.IpermissionService, IdentityManagement"
      type="IdentityManagement.ImplementService.permissionService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component
      id="IobjectService"
      service="IdentityManagement.Service.IobjectService, IdentityManagement"
      type="IdentityManagement.ImplementService.objectService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    
    
    <!--End Identity-->
	  


   <component  id="IMODULEService" service="EIS.Core.IService.IMODULEService, EIS.Core"  type="EIS.Core.ServiceImp.MODULEService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="INHOMCHUCNANGService" service="EIS.Core.IService.INHOMCHUCNANGService, EIS.Core"  type="EIS.Core.ServiceImp.NHOMCHUCNANGService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    
    <component  id="ITYPE_PERMISSIONService" service="EIS.Core.IService.ITYPE_PERMISSIONService, EIS.Core"  type="EIS.Core.ServiceImp.TYPE_PERMISSIONService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="INHOMCHUCNANG_OBJECTService" service="EIS.Core.IService.INHOMCHUCNANG_OBJECTService, EIS.Core"  type="EIS.Core.ServiceImp.NHOMCHUCNANG_OBJECTService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    
    <component  id="ITYPE_ROLEService" service="EIS.Core.IService.ITYPE_ROLEService, EIS.Core"  type="EIS.Core.ServiceImp.TYPE_ROLEService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="INGUOIDUNGService" service="EIS.Core.IService.INGUOIDUNGService, EIS.Core"  type="EIS.Core.ServiceImp.NGUOIDUNGService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component id="INHOM_USERService" service="EIS.Core.IService.INHOM_USERService, EIS.Core"  type="EIS.Core.ServiceImp.NHOM_USERService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component id="IUSER_GROUPService" service="EIS.Core.IService.IUSER_GROUPService, EIS.Core"  type="EIS.Core.ServiceImp.USER_GROUPService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
     <component id="ILogSystemService" service="EIS.Core.IService.ILogSystemService, EIS.Core"  type="EIS.Core.ServiceImp.LogSystemService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDM_DONVIService" service="EIS.Core.IService.IDM_DONVIService, EIS.Core"  type="EIS.Core.ServiceImp.DM_DONVIService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDMTINHTHANHService" service="EIS.Core.IService.IDMTINHTHANHService, EIS.Core"  type="EIS.Core.ServiceImp.DMTINHTHANHService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDMCOSOKCBService" service="EIS.Core.IService.IDMCOSOKCBService, EIS.Core"  type="EIS.Core.ServiceImp.DMCOSOKCBService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="ICOCAUGIA_DICHVU21Service" service="EIS.Core.IService.ICOCAUGIA_DICHVU21Service, EIS.Core"  type="EIS.Core.ServiceImp.COCAUGIA_DICHVU21Service, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="ICOCAUGIA_CHITIETService" service="EIS.Core.IService.ICOCAUGIA_CHITIETService, EIS.Core"  type="EIS.Core.ServiceImp.COCAUGIA_CHITIETService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="ICOCAUGIA_LOAIService" service="EIS.Core.IService.ICOCAUGIA_LOAIService, EIS.Core"  type="EIS.Core.ServiceImp.COCAUGIA_LOAIService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDM_GIADICHVUService" service="EIS.Core.IService.IDM_GIADICHVUService, EIS.Core"  type="EIS.Core.ServiceImp.DM_GIADICHVUService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDM_DICHVU43Service" service="EIS.Core.IService.IDM_DICHVU43Service, EIS.Core"  type="EIS.Core.ServiceImp.DM_DICHVU43Service, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDM_DICHVU50Service" service="EIS.Core.IService.IDM_DICHVU50Service, EIS.Core"  type="EIS.Core.ServiceImp.DM_DICHVU50Service, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="ICOCAUGIA_PHATSINHService" service="EIS.Core.IService.ICOCAUGIA_PHATSINHService, EIS.Core"  type="EIS.Core.ServiceImp.COCAUGIA_PHATSINHService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <!-- register Service-->
    <component  id="ICOCAUGIA_THUCTE_CTService" service="EIS.Core.IService.ICOCAUGIA_THUCTE_CTService, EIS.Core"  type="EIS.Core.ServiceImp.COCAUGIA_THUCTE_CTService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ICOCAUGIA_THUCTEService" service="EIS.Core.IService.ICOCAUGIA_THUCTEService, EIS.Core"  type="EIS.Core.ServiceImp.COCAUGIA_THUCTEService, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IBHYT_21Service" service="EIS.Core.IService.IBHYT_21Service, EIS.Core"  type="EIS.Core.ServiceImp.BHYT_21Service, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="SoSanhCoCau21Service" service="EIS.Core.IService.ISoSanhCoCau21, EIS.Core"  type="EIS.Core.ServiceImp.SoSanhCoCau21Service, EIS.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    
  </components>
</configuration>
