@model HeaderViewRenderMode
@if (Model == HeaderViewRenderMode.Title)
{
    @*<div class="templateTitle">
        @Html.ActionLink("PHẦN MỀM GIÁM ĐỊNH BHXH - EIS", "Index", "Home")
    </div>*@
}
else
{
    <div class="headerMenu">
        @* DXCOMMENT: Configure the header menu *@
        @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "HeaderMenu";
            settings.ItemAutoWidth = false;
            settings.ControlStyle.CssClass = "headerMenu";
            settings.Width = Unit.Percentage(100);
        }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/TopMenuLogin.xml"), "/menu/*").GetHtml()
    </div>
}