@Html.DevExpress().TextBox(txt =>
{
    txt.Name = "NameEditGroup";
    txt.Properties.Caption = "Tên nhóm";
    txt.Width = Unit.Pixel(600);
}).GetHtml()
<br />
@Html.Action("LoadUserNonOfGroupEdit", "GroupUser")
<div style="padding-top: 15px;"></div>
<div><p class="error" style="color: red;" id="ErrorEditGroup"></p></div>
<hr />
<div class="btnSaveOrCloseAddGroup" style="width: 240px; padding-left: 230px;">
    @Html.DevExpress().Button(btn =>
    {
        btn.Name = "btnUpdateGroup";
        btn.Text = "Lưu";
        btn.Width = Unit.Pixel(100);
        btn.ClientSideEvents.Click = "funcUpdate";
    }).GetHtml()

    @Html.DevExpress().Button(btn =>
    {
        btn.Name = "btnCloseEditFrom";
        btn.Text = "Đóng";
        btn.Width = Unit.Pixel(100);
        btn.ClientSideEvents.Click = "function(){ ppEditGroupUser.Hide(); $('#ErrorEditGroup').text(' ');}";
    }).GetHtml()
</div>